@import './src/styles/utils.scss';

:host {
  display: block;
  text-align: center;

  width: 100%;
}

.mat {
  &-header {
    &-row {
      background: $pink;
      color: $white;
      height: auto;
    }
    &-cell {
      border: none;
      padding: 10px;
      text-align: center;
      &:first-of-type {
        padding-left: 10px;
      }
      &:last-of-type{
        padding-left: 10px;
      }
    }
  }
  &-cdk-column {
    text-align: center;
  }
  &-column {
    text-align: center;
    &-numero {
      width: 75px;
    }
    &-title {
      text-align: left;
    }
    &-childNumber {
      width: 100px;
    }
  }
  &-table {
    width: 100%;
    border-collapse: collapse;
  }
  &-row {
    background: $grey;
    height: auto;
    &:nth-child(2n) {
      background: $white;
    }
    &:hover {
      background: $dark-grey;
      cursor: pointer;
    }
  }
  &-cell {
    border: none;
    padding: 10px;
    &:first-of-type {
      padding-left: 10px;
    }
    &:last-of-type{
      padding-left: 10px;
    }
  }
}
