@import './src/styles/utils.scss';

$category-size:135px;
:host {
  width: 280px;
  height: 280px;
  margin-right: $category-size / 2; 
  margin-top: $category-size / 2; 
}

.item {
  position: relative;
  
  display: flex;
  align-items: flex-end;

  height: 100%;
  width: 100%;

  &-content {
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 280px;
    height: 280px;

    border: 6px solid $white;
    box-sizing: border-box;

    background: $grey;

    &-title {
      color: $light-black;
      font-size: 30px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      /* autoprefixer: ignore next */
      -webkit-box-orient: vertical;
      padding: 0 22px;
      text-align: center;
    }

    &-number {
      position: absolute;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 50px;
      height: 50px;

      background: $light-black;
      color: $white;

      &.serial {
        top: 0; 
        left: 0;
      }

      &.child {
        bottom: 0; 
        right: 0;
      }
    }
  }

  &-category {
    position: absolute;
    top: -$category-size / 2; 
    right: -$category-size / 2;

    display: flex;
    justify-content: center;
    align-items: center;

    width: $category-size;
    height: $category-size;
    
    background: $pink;
    border: 3px solid $light-black;
    border-radius: 100%;
    
    &-title {
      padding: 0 15px;
      color: $white;
      text-align: center;
    }
  }
}