<div class="item">
  <div [routerLink]="'/collection'" [queryParams]="{ path: myLittlePath }" class="item-content">
    <div class="item-content-number serial" *ngIf="item.number">{{item.number}}</div>
    <div class="item-content-title">
      <p>{{item.getName()}}</p>
    </div>
    <div class="item-content-number child" *ngIf="item.childNumber">{{item.childNumber}}</div>
  </div>
  <div class="item-category" *ngIf="item.category">
    <p class="item-category-title">{{item.category.name}}</p>
  </div>
</div>