@import './src/styles/utils.scss';

:host {

}

.content {
  display: flex;
  flex-direction: column;
  background-image: url("/assets/contentBackground.png");

  &-header {
    display: flex;
    flex-direction: column;

    background: $light-black;
    height: 350px;
    color: $white;

    &-menu {
      align-self: center;
      width: 75%;
      margin-top: 20px;
      padding-right: 67.5px;
      box-sizing: border-box;
      &-logo{
        float: left;
      }
      &-list {
        text-align: right;
      }
    }

    &-title {
      font-size: 40px;
      align-self: center;
    }
    &-nav {
      align-self: center;
      display: flex;
      font-size: 12px;

      &-item {
        display: flex;
        &-separator {
          padding: 0px 5px;
        }
      }
    }
  }

  &-main {
    align-self: center;
    width: 75%;
  }
}