<form (ngSubmit)="onSubmit()">
  <div class="categories">
    <ng-template #categoryContainer></ng-template>
  </div>
  <input type="text" name="name" [(ngModel)]="newItem.name" autocomplete="off" placeholder="Donne moi un nom"/>
  <input type="text" name="number" [(ngModel)]="newItem.number" autocomplete="off" placeholder="Numéro de collection"/>
  <app-form-validation [validation]="validation"></app-form-validation>
  <input type="submit" value="Ajouter"/>
</form>
<app-choice-popup [optionsList]="categoriesList" (validate)="onPopupValidate($event)" [ngClass]="{'hide':categoriesList.length===0}"></app-choice-popup>
