@import './src/styles/utils.scss';

:host {
  position: relative;
  display: block;
}

.top-color {
  position: absolute;
  top: 0;
  left: 0;
  background: $light-black;
  height: 350px;
  width: 100%;
}

.bottom-color {
  position: absolute;
  bottom: 0;
  left: 0;
  background: $light-black;
  height: 100px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  width: 75%;
  position: relative;

  &-header {
    height: 350px;
    width: 100%;
    box-sizing: border-box;
    color: $white;

    &-menu {
      align-self: center;
      width: 75%;
      margin-top: 20px;
      padding-right: 67.5px;
      box-sizing: border-box;
      &-logo{
        float: left;
      }
      &-list {
        text-align: right;
        &-item {
          margin-left: 15px;
          color: $white;
          &:visited {
            color: $white;
          }
          &:hover {
            color: $pink;
          }
        }
      }
    }

    &-title {
      font-size: 40px;
      align-self: center;
      margin-top: 15px;
    }
    &-nav {
      align-self: center;
      display: flex;
      font-size: 12px;
      a {
        color: $white
      }

      &-item {
        display: flex;
        &-separator {
          padding: 0px 5px;
        }
      }
    }
  }  

  &-footer {
    display: flex;
    flex-direction: column;

    height: 100px;
    width: 100%;
    color: $white;
    margin-top: auto;
  }

  &-main {
    align-self: center;
    width: 100%;
  }
  
  @media screen and (max-width: 1400px) {
    width: 1000px;
  }

  @media screen and (max-width: 1100px) {
    width: 600px;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}