<div class="content">
  <div class="content-header">
    <div class="content-header-menu">
      <img class="content-header-menu-logo" src="./assets/logo87x87.png"/>
      <div class="content-header-menu-list">
          <a class="content-header-menu-list-item">Marine & Lionel</a>
      </div>
    </div>
    <h1 class="content-header-title">Jeux de société</h1>
    <ul class="content-header-nav">
      <li class="content-header-nav-item" *ngFor="let path of navPath; let i = index">
        <a class="content-header-nav-item-link">{{path}}</a>
        <p class="content-header-nav-item-separator" *ngIf="i !== (navPath.length - 1)"> > </p>
      </li>
    </ul>
  </div>
  <div class="content-main">
    <app-collection></app-collection>
  </div>
</div>