@import './src/styles/utils.scss';

:host {
  position: relative;
  display: block;
}

.top-color {
  position: absolute;
  top: 0;
  left: 0;
  background: $light-black;
  height: 350px;
  width: 100%;
}

.bottom-color {
  position: absolute;
  bottom: 0;
  left: 0;
  background: $light-black;
  height: 100px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  width: 75%;
  position: relative;

  &-header {
    height: 350px;
    width: 100%;
    box-sizing: border-box;
  }

  &-footer {
    display: flex;
    flex-direction: column;

    height: 100px;
    width: 100%;
    color: $white;
    margin-top: auto;
  }

  &-main {
    align-self: center;
    width: 100%;
  }
  
  @media screen and (max-width: 1400px) {
    width: 1000px;
  }

  @media screen and (max-width: 1100px) {
    width: 600px;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}