<div class="content">
  <div class="content-header">
    <div class="content-header-menu">
      <a routerLink="/collection"><img class="content-header-menu-logo" src="./assets/logo87x87.png"/></a>
      <div class="content-header-menu-list">
        <a routerLink="/addItem" class="content-header-menu-list-item">Ajout</a>
        <a routerLink="/collection" class="content-header-menu-list-item">Marine & Lionel</a>
      </div>
    </div>
    <h1 class="content-header-title">{{pageTitle}}</h1>
    <ul class="content-header-nav">
      <li class="content-header-nav-item" *ngFor="let path of navPath; let i = index">
        <a [routerLink]="path.path" [queryParams]="path.queryParams" class="content-header-nav-item-link">{{path.name}}</a>
        <p class="content-header-nav-item-separator" *ngIf="i !== (navPath.length - 1)"> > </p>
      </li>
    </ul>
  </div>
  <div class="content-main">
    <router-outlet></router-outlet>
  </div>
  <div class="content-footer"></div>
</div>